* {
   outline: 1px solid red !important;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.app {
    display : flex;
}

.title {
    max-width: 1000px;
    color: white;
    background: #33BEBE;

}

<<<<<<< HEAD
.image {
    margin: 5px 5px 5px 5px;
    max-width: 400px;
    max-height: 400px;
    border: solid white;
    border-right-width: 10px;
=======
.app {
    display: flex;
}

.image {
    border-color: white;
    border: 100px;
    max-width: 460px;
>>>>>>> 340358e5172013c4f5e8f97e91fbc4f3812e5df4
}

.description {
    margin: 5px 5px 5px 5px;
    max-width: 500px;
    border: solid white;
    border-width: 10px;
}